* {
  font-family: 'Roboto', sans-serif;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px dashed black;
  padding: 10px;
  margin: 5px;
  height: 25px;
}
